<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />

    <title>@ViewBag.Title</title>

    <!-- Common Kendo UI CSS -->
    <link href="http://cdn.kendostatic.com/2014.2.1008/styles/kendo.common.min.css" rel="stylesheet" />

    <!-- Default Kendo UI theme CSS -->
    <link href="http://cdn.kendostatic.com/2014.2.1008/styles/kendo.default.min.css" rel="stylesheet" />

    <!-- (optional) Kendo UI DataViz CSS, include only if you will use the data visualisation features -->
    <link href="http://cdn.kendostatic.com/2014.2.1008/styles/kendo.dataviz.min.css" rel="stylesheet" />

    <!-- (optional) Kendo UI Mobile CSS, include only if you will use the mobile devices features -->
    @*<link href="http://cdn.kendostatic.com/2014.2.1008/styles/kendo.default.mobile.min.css" rel="stylesheet" type="text/css" />*@

    <!-- jQuery JavaScript -->
    <script src="http://cdn.kendostatic.com/2014.2.1008/js/jquery.min.js"></script>

    <!-- Kendo UI combined JavaScript -->
    <script src="http://cdn.kendostatic.com/2014.2.1008/js/kendo.all.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
