@{
    ViewBag.Title = "车型库管理";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<h4>
    <span style="color: #00B312;display: inline-block;margin-right: .4em;font-size: 1.6em;line-height: 1.6em;" class="km-icon km-organize"></span>
    CarType Management
</h4>
<div id="gridCarType" data-role="grid"
     data-auto-bind="false"
     data-scrollable="true"
     data-editable="true"
     data-pageable="true"
     data-toolbar="['create', 'save']"
     data-bind="source: carTypes"
     data-columns="[
                        { 'field': 'BrandName', 'title': '品牌', 'width': 100 },
                        { 'field': 'MfgrName', 'title': '制造商', 'width': 120 },
                        { 'field': 'CarTypeName', 'title': '车型', 'width': 170 },
                        { 'field': 'CarTypeYear', 'title': '年款', 'width': 90 },
                        { 'field': 'Specification', 'title': '规格' },
                    ]"
     style="width: 100%; height: 600px;"></div>

<script>
    var vm = kendo.observable({
        carTypes: new kendo.data.DataSource({
            transport: {
                read: {
                    type: "GET",
                    url: "@Url.Content("~/api/ApiSetting/GetCarTypes")",
                    contentType: 'application/json',
                    dataType: "json",
                    cache: false
                }
            },
            serverPaging: true,
            serverSorting: false,
            pageSize: 26,
            schema: {
                total: "total",
                data: "data"
            }
        }),
        pGetCarTypesAsync: function () {
            var task = Wind.Async.Task;

            return task.create(function (t) {
                var parameter = { q: "html5" };

                vm.carTypes.transport.options.read.data = parameter;

                vm.carTypes.fetch(function() {
                    t.complete("success", "");
                });
            });
        },
        ViewLoaded: function () {
            var task = eval(Wind.compile("async", function (idx) {
                $await(vm.pGetCarTypesAsync());
            }));

            task().start();
        }
    });

    //view section
    kendo.bind(document.body, vm);
    vm.ViewLoaded();
</script>
