@model DataAccess.Models.VendorOrder
@{
    ViewBag.Title = "国宾汽车养护中心·快速交易";
}
<div class="bs-docs-header" id="content">
    <div class="container">
        <h1>@ViewBag.Title</h1>
        <p> 登记 - 项目 - 结算 - <mark>完成</mark></p>
    </div>
</div>

<div class="container">

    <div class="row text-center">
        <input type="button" value="打印单据" class="btn btn-primary btn-lg" />
        <a href="@Url.Action("TranReg", "Home")" class="btn btn-primary btn-lg" role="button">完成 - 开始新单</a>
    </div>
    <div class="row">
        <h3>订单信息</h3>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>车牌号</td>
                    <td>赣A12345</td>
                    <td>手机号</td>
                    <td>13803511234</td>
                    <td>操作员</td>
                    <td>舒文颉</td>
                </tr>
                <tr>
                    <td>服务单号</td>
                    <td colspan="3">E023184CVTGUE8KW</td>
                    <td>登记时间</td>
                    <td>2014-01-01 10:02:59</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <h3>服务项目</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>名称</th>
                    <th>类型</th>
                    <th>数量</th>
                    <th>单位</th>
                    <th>单价</th>
                    <th>小计</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>车辆精洗</td>
                    <td>服务</td>
                    <td>1</td>
                    <td>次</td>
                    <td>25.00</td>
                    <td>25.00</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>#3修复剂</td>
                    <td>配件</td>
                    <td>0.25</td>
                    <td>瓶</td>
                    <td>80.00</td>
                    <td>20.00</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <h3>结算清单</h3>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>服务总金额</td>
                    <td>300.00</td>
                    <td>应收金额</td>
                    <td>240.00</td>
                    <td>会员卡使用金额</td>
                    <td>200.00</td>
                </tr>
                <tr>
                    <td>应收现金金额</td>
                    <td colspan="3">40.00</td>
                    <td>会员卡剩余金额</td>
                    <td>0.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>